/* General rules */

* {
  margin: 0;
  box-sizing: border-box;
  }

/* Main containers */

/* body (viewport) */

body {
  display: flex;
  margin: 0;
  color: #EEEEEE;
}

/* --------------------------main containers--------------------------- */

/* page full content size */

main {    
  width: 1028px;
  height: 834px;
  margin: 20px auto;
  border: 2px #999999 solid;
}

/* top container */

.top {
  display: block;
  position: relative;
  background-color: blueviolet;
  margin: 0;
  width: 100%;
  height: 64.5%;
}

/* bottom container */

.row {
  display: -webkit-flex;
  display: flex;
  position: relative;
  background-color: chartreuse;
  width: 100%;
  height: 24%;
}

/* footer conainer */

footer {
  display: flex;
  position: relative;
  background-color: chocolate;
  width: 100%;
  height: 11.5%;
}

/* --------------------------2nd level containers--------------------------- */

/* inside top */

header {
  display: flex;    
  width: 100%;
}

.main-content {
  display: flex;
  position: static;
}

/* indise bottom */

.grid {
  display: flex;
  position: absolute;
  background-color: blanchedalmond;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.col-1-4 {
  flex: 1;
  border: 1px brown solid;
  background-color: blue;
}

/* inside footer */

/* --------------------------child level containers--------------------------- */


/* navigation bar (inside header) */

nav {
  display: block;
  position: relative;  
  left: 30px; 
  width: 100%;
  height: 30px;  
}

ul {

}

.navitem {
  float: left;
  width: 103px;
  height: 30px;
  border: 1px wheat solid;
  list-style: none;
}

.last-ni {
  float: left;
  width: 132px;
  height: 30px;
  border: 1px wheat solid;
  list-style: none;
}

.navitem div {
  position: relative;
  width: 15px;
  height: 14px;
}

.last-ni input {
  width: 106px;
  height: 19px; 
}

.main-txt {
  font-family: Montserrat, Helvetica, Arial, Verdana, sans-serif;
}




